.container-style{
    margin-top: 20em;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem rgba(119, 115, 105, 0.55);
    color: #fff;
    padding: 2em;
}

.main-detail{
    background-color: inherit;
}

.img{
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
}

.informations {
    display: flex;
    color: whitesmoke;
}


.list-group-item{
    background-color: #17141d;
    border: none;
}

.itemFeature {
    color: #a20202;
}

.card-header.itemFeature{
    font-size: larger;
}


.list-group-item.list-group-item-action{
    background-color: rgba(162, 2, 2, 0.7);
    color: white;
}


.list-group-item.active{
    box-shadow: -1rem 0 3rem rgba(119, 115, 105, 0.55);

    background-color: #17141d;
}

.tab-pane {
    align-items: center;
}

.breadcrumb-item.active{
    color:#a20202;
}

.row:not(:first-child){
    margin: .5em 0;
}

.main-item-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    
}

.main-item-container > h4{
    margin-top: 2em;
}

.favorites-button {
    background-color: rgba(162, 2, 2, 0.7);
    border: 1px solid rgba(162, 2, 2, 0.7);
    border-radius: 7px;
    display: flex;
    color: white;
    font-weight: 400;
    padding: 3px;
    padding-top: 10px;
    margin-top: 10px;
}


.tab-content>div>a:hover {
    color: rgba(162, 2, 2, 0.7);
    transition: .5s;
}

.btn-color {
    background-color: #a20202;
    border: 1px solid rgba(119, 115, 105, 0.55);
}

.btn-color:hover{
    background-color: #17141d;
    border: 1px solid #a20202;
    transition: .5s;
}

#computerName {
    margin-top: 1em;
}













