@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');


/* Main config */
:root
{
    margin: 0px;
    padding: 0px;
    font-family: 'Mukta', sans-serif;
}

body
{
    background-color: #001220;
    color: white;
    overflow-x: hidden; 
    background: rgb(15,15,16);
    background: linear-gradient(180deg, rgba(0, 18, 32, 1) 18%, rgba(162,2,2,1) 45%, rgba(0, 18, 32, 1) 74%);
}

main
{
    margin: 2em;
}

/* End of main*/


/* Scroll bar config */
body::-webkit-scrollbar
{
    width:.5em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(218, 7, 7, 0.5);
  }

body::-webkit-scrollbar-thumb {
    background-color: #a20202;
    outline: 1px solid slategrey;
  }

/* End of bar config */


/* Configurations de la barre nav */
.nav
{
    background-color: transparent;
}

.nav-items {
    color: white;
    font-size: 1.2em;
}

.nav-items-text {
    font-weight: 200;
}

.nav-list-items {
    display: flex;
    justify-content: space-between;
}

.code {
    position: relative;
    top: .4rem;
}

.logo{
    font-size: 2.5rem;
    animation-name: spin-logo;
    animation-duration: 50000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes spin-logo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* End of Nav config */


footer
{
    background-color: #abb8c3;
    height: 150px;
}

.mailing-list {
    display: block;
    text-align: center;
}

.center {
    display: flex;
    flex-direction: column;
}

/*
    Configuration des titres
*/

.title-main
{
    margin:2rem;
    padding: 2rem;
    text-align: center;
}


.content:hover
{
    cursor: pointer;
}

.flip
{
    transform: rotate(180deg);
}

.spacer{
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: sticky;
}

.spacer-top{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.red {
    background-color: #a20202;
  }

.layer-bottom {
    background-image: url("../IMAGES/main-bottom-wave.svg");
}

.layer-top {
    background-image: url("../IMAGES/layered-waves.svg");
    z-index: -1;
}


/* Animation */

.helloWorld
{
    height: 100vh;
}

.helloWorld {
    text-align: center;
    position: relative;
    font-weight: 700;
    font-family: Hack, sans-serif;
    transform: translateY(5%);
}

.helloWorld > span{
    font-size: 2em;
}

.helloWorld > h1{
    font-size: 100px;
}

.helloWorld > *{
    text-transform: uppercase;
    background: linear-gradient(45deg, #000, #a20202, #000);
    background-clip: text;
    letter-spacing: 10px;
    -webkit-text-fill-color: transparent;
    background-size: 80%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    animation: shine 5s linear infinite;
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }



















