@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

/* Main config */

:root {
    margin: 0px;
    padding: 0px;
    font-family: 'Mukta', sans-serif;
}

main {
    background-color: #001220;
    height: auto;
    margin: 0;
}

.main-content {
    display: flex;
    
}

.sidebar-main {
    /* display: flex;
    flex-direction: column;
     */
    margin-bottom: 2rem;
}


.sidebar {
    width: 330px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 5.5px);
    -webkit-backdrop-filter: blur( 5.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    background: rgba( 162, 2, 2, 0.55);
    justify-content: center;
    /* margin-right: 2em; */
}



.main-container > div:not(:first-child) {
    margin-top: 1rem;
}

.sidebar__items {
    margin: 1em;
    width: 80%;
}


.sidebar_parent {
    justify-content: center;
}


/* .invisible {
    display: none; 
} */

.sidebar-title {
    text-align: left;
    margin: 1em;
}

.img-card {
    border-radius: 10px;
}

@media only screen and (min-width: 992px) {
    .card{
        display:flex;
        position: relative;
        flex-direction: column;
        height: 350px;
        min-width: 250px;
        padding: 1.5rem;
        border-bottom-right-radius: 16px;
        border-top-left-radius: 16px;
        
        background: #17141d;
        box-shadow: -1rem 0 3rem rgba( 162, 2, 2, 0.55);
        transition: 0.3s;
        margin: 0 .5rem;
    }
    
    
    .card:hover {
        transform: translateY(-1rem);
        cursor: pointer;
    }
    
    .card:hover~.card{
        transform: translateX(130px);
    }
    
    .card:not(:first-child) {
        margin-left: -130px;
    }

    .sidebar {
        width: 330px;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
        backdrop-filter: blur( 5.5px);
        -webkit-backdrop-filter: blur( 5.5px);
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18);
        background: rgba( 162, 2, 2, 0.55);
        justify-content: center;
        margin: auto;
    }

    .main-container {
        background: rgba( 162, 2, 2, 0.55);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
        backdrop-filter: blur( 5.5px);
        -webkit-backdrop-filter: blur( 5.5px);
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18);
        justify-content: center;
        margin: 0 2rem; 
        padding: 2rem 0;
    }
}

@media only screen and (max-width: 768px) {
    
    .card:not(:first-child) {
        margin-top: 1em; 
    }
    
    .card{
        display:flex;
        position: relative;
        flex-direction: column;
        max-width: 350px;
        padding: 1.5rem;
        border-bottom-right-radius: 16px;
        border-top-left-radius: 16px;
        background: #17141d;
        box-shadow: -1rem 0 3rem rgba(119, 115, 105, 0.55);
        transition: 0.3s;
    }

    .sidebar {
        margin: auto;
        
    }

    
}


























